.container {
    min-width: 375px;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 20px;
}

.background-gray {
    background-color: #EBEBEB;
}

.header {
    position: fixed;
    z-index: 5;
    background-color: #00000033;
    top: 0;
    left: 0;
    width: 100vw;
  }

.navigation {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    height: 97px;
    align-items: center;
    height: 80px;
  }

  .navigation>div img {
    margin: 10px;
  }

  .navigation ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 60px;
  }

  .slider {
    position: relative;
    overflow: hidden;
    border: none;
  }

  .controls {
    position: absolute;    
    z-index: 3;
    width: 100vw;
    justify-content: arround;
    display: flex;
    bottom: 72px;
  }

  .controls > div {
    display: flex;
    width: 100%;
    justify-content: space-between
  }

  .points{
    display: flex;
    align-items: center;
  }

  .bar {
    height: 10px;
    width: 10px;
    margin: 20px;
    cursor: pointer;
    background: #FFFFFF;
    opacity: 0.4;
    border-radius: 50%;
    transition: all .4s ease;
  }

  .bar:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }

  .arrows>button {
    cursor: pointer;
    width: 66.5px;
    height: 69.94px;
    border: none;
    background: #FFFFFF22;    
    color: #FFFFFF;
  }

  .arrows>button:hover {
    background: #FFFFFF44;    
 }

  input[name="r"], input[name="tab"] {
    position: absolute;
    visibility: hidden;
  }

  .slides {
    display: flex;
    width: 400%;
    height: 100%;
    
    transition: transform 1s;
    animation: move 30s 2s infinite;
  }

  .slide {
    width: 25%;
    transition: all 0.6 ease;
  }

.slide img {
    width: 100%;
    height: 100%;
  }

  .slide-content {
    margin: 190px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
  }

  .slide-content>h1 {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 140%;
/* or 67px */

letter-spacing: 0.02em;

color: #FFFFFF;
  }

  .slide-content > * {
    max-width: 785px;
  }

  .slide-content>p {
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140%;
/* or 34px */

letter-spacing: 0.02em;

color: #FFFFFF;
  }

  .slide-content>button {
    cursor: pointer;
    padding: 16px 12px;
    border: none;
    background: #005FA3;
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;

/* White */

color: #FFFFFF;
  }

  .s1, .s2, .s3, .s4 {
    min-width: 100vw;
    min-height: 40.677vw;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .s1 {
    background-image: url("images/image1.jpg");
  }

  .s2 {
    background-image: url("images/image2.jpg");
  }

  .s3 {
    background-image: url("images/image3.jpg");
  }

  .s4 {
    background-image: url("images/image4.jpg");
  }

  #r0:checked ~ .slides  {
    transform: translate(0);
  }

  #r1:checked ~ .slides {
    transform: translate(0)!important;
  }

  #r2:checked ~ .slides {
    transform: translate(-25%)!important;
  }

  #r3:checked ~ .slides {
    transform: translate(-50%)!important;
  } 

  #r4:checked ~ .slides {
    transform: translate(-75%)!important;
  }

 

  @keyframes move {
       5% {
        transform: translate(0);
       }
       20% {
        transform: translate(-25%);
       }
       30% {
        transform: translate(-25%);
       }
       45% {
        transform: translate(-50%);
       }
       55% {
        transform: translate(-50%);
       }
       70% {
        transform: translate(-75%);
       }
       80% {
        transform: translate(-75%);
       }
       95% {
        transform: translate(0);
       }
  }

  .services {
    padding: 140px 0;
    background-color: #EBEBEB;
  }

  .services .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .services .cards > * {    
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 50px;
    width: 370px;
    height: 370px;
    background-image: url("images/Rectangle.jpg");
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }

  .services .cards> *:hover {
    background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65)), url("images/Rectangle.jpg");
  }

  .aboutus {
    display: flex;   
    padding: 140px 0;
  }

  .aboutus:first-child {    
    align-items: center;
  }

  .cards {
    display: grid;
    gap: 30px;
  }

  .aboutus .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 270px;
    height: 270px;
    background-color: #EBEBEB;
  }

  .card:last-child {
    background-color: #005FA3;
  }

  .tabs {
    padding: 68px 20px;
    width: 1170px;
    height: 658px;
    background-image: url("images/imageaboutus.jpg");
    color: #EBEBEB;
  }

  .tabs-nav {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .tab-button {
    display: block;
    padding: 20px;
    text-align: center;
    width: 225px;
    height: 60px;
    cursor: pointer;
  }  

  .tab-button-active {
    background-color: #005FA3;
  }

  .tab-button-inactive {
    background-color: #EBEBEB;
    color: black;
  }

  .tab{
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
    width: 870px;
  }

  .tab > h2 { 
    margin: 40px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
  }

  .tab {
    align-items: center;
  }

  .tab > div {
    display: flex;
    gap: 130px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
  }

  .tab1, .tab2 {
    display: none;
  }

  #tab1:checked ~ .tab1 {
    display: flex;
  }

  #tab2:checked ~ .tab2 {
    display: flex;
  }  
