body{
    color: #FFFFFF;
}
.container {
  min-width: 375px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  border: sandybrown solid 1px;
}

.background-gray {
  background-color: #ebebeb;
}

.pad-140-20 {    
  padding: 140px 20;
}

input[name="r"],
input[name="tab"] {
  display: none;
}

footer > .container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
