.services {
}

.services .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;  
  gap: 30px;
}

.services .cards > * {
  width: 370px;
  height: 370px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column-reverse;
  background-image: url("images/Rectangle.jpg");
}

.services .cards > *:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 95, 163, 0.65),
      rgba(0, 95, 163, 0.65)
    ),
    url("images/Rectangle.jpg");
}
