@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/Open_Sans/OpenSans-Bold.ttf");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("../fonts/Lato/Lato-Black.ttf");
  font-display: swap;
  font-weight: 900;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("../fonts/Lato/Lato-Bold.ttf");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("../fonts/Lato/Lato-Regular.ttf");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("../fonts/Lato/Lato-Light.ttf");
  font-display: swap;
  font-weight: 300;
}
