.header {
  position: fixed;
  z-index: 5;
  background-color: #00000033;
  top: 0;
  left: 0;
  width: 100%;
}

.scrolled {
  background-color: #fff !important;
  color: #005fa3;
}

.scrolled svg {
  stroke: #005fa3;
}

.scrolled .burger-btn {
  border-color: #005fa3;
}

.scrolled .burger-btn span,
.scrolled .burger-btn span::before,
.scrolled .burger-btn span::after {
  background-color: #005fa3;
}

.navigation {
  height: 97px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation > div:first-child {
  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 36px;
  line-height: 138.27%;
}

.navigation ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 60px;
}

.navigation a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.7;
}

.navigation a:hover {
  opacity: 1;
}

.burger-btn {
  display: none;
  z-index: 100;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.burger-btn span,
.burger-btn span::before,
.burger-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 2px;
  background-color: #fff;
}

.burger-btn span::before,
.burger-btn span::after {
  content: "";
  display: block;
  transition: transform 0.5s;
}

.burger-btn span::before {
  transform: translateY(-10px);
}

.burger-btn span::after {
  transform: translateY(10px);
}

.burger-active span {
  height: 0;
}
.burger-active span::before {
  transform: rotate(45deg);
}

.burger-active span::after {
  transform: rotate(-45deg);
}
